<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div ng-repeat="meal in meals | filter : {id: showMeal}">
      <h3>Overview for meal {{meal.id}}:</h3>
      <button class="btn btn-default" ng-click="cycleMeals('prev')">Previous Meal</button>
      <button class="btn btn-default" ng-click="cycleMeals('next')">Next Meal</button><br>
      <h4>Base Price: {{meal.price | currency}}</h4>
      <h4>Tax: {{meal.price * meal.taxRate / 100 | currency}}</h4>
      <h4>Subtotal: {{meal.price + (meal.price * meal.taxRate / 100) | currency}}</h4>
      <h4>Tip: {{meal.price * meal.tipPercentage / 100 | currency}}</h4>
      <h4>Grand Total: {{meal.price + (meal.price * meal.taxRate / 100) + (meal.price * meal.tipPercentage / 100)| currency}}</h4>
    </div>
  </div>
</div>