<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3>Enter Details for Meal {{count}}:</h3>
    <form name="myMeal" ng-submit="addMyMeal()">
      <div class="form-group">
        <label>Base Meal Price: $</label><br>
        <input type="number" class="form-control" placeholder="0.00" ng-model="meal.price">
      </div>
      <div class="form-group">
        <label>Tax Rate: %</label><br>
        <input type="number" class="form-control" placeholder="0.00" ng-model="meal.taxRate">
      </div>
      <div class="form-group">
        <label>Tip Percentage: %</label><br>
        <input type="number" class="form-control" placeholder="0.00" ng-model="meal.tipPercentage" >
      </div>
      <input type="submit" class="btn btn-success" value="Add Meal">
      <button class="btn btn-danger">Cancel</button>

      
    </form>
    <p>{{meal}}</p>
  </div>
</div>