

<div class="row">
  <ul class="list-inline">
    <li class="h3">My Shopping Bag
    </li>
    <li class="h3 pull-right">Order Total: {{cartTotal | currency}}</li>
  </ul>
</div>
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Sub-total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in cartItems track by $index">
        <td>
          <p class="h3">{{item.name}}</p>
          <img ng-src="{{item.imageUrl}}">
          <p><strong>Caffeine Scale: </strong>{{item.caffeineScale}}</p>
          <p><strong>Ingredients: </strong>{{item.ingredients}}</p>
          <p><strong>Rating: </strong>{{item.rating}}</p>
        </td>
        <td>
          <span ng-show="my.edit">{{item.qty}}</span>
          <span ng-show="!my.edit"><input ng-model="newItem.qty" class="form-input" type="number"></span>
        </td>
        <td>
          {{item.qty * item.price /100 | currency}}
        </td>
        <td>
          <button class="btn btn-warning" ng-click="my.edit=false" ng-show="my.edit">Edit</button>
          <button class="btn btn-warning" ng-click="save(item, newItem.qty)" ng-show="!my.edit">Save</button>
          <button class="btn btn-danger" ng-click="remove(item)">Remove</button>
        </td>
    </tbody>
    
  </table>
</div>